USE [master]
GO
/****** Object:  Database [Демов]    Script Date: 12.05.2026 14:33:11 ******/
CREATE DATABASE [Демов]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Демов', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSLR1REG\MSSQL\DATA\Демов.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Демов_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSLR1REG\MSSQL\DATA\Демов_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Демов].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Демов]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 12.05.2026 14:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ЗаказID] [int] NOT NULL,
	[Дата заказа] [date] NULL,
	[Дата доставки] [date] NULL,
	[PvZID] [int] NOT NULL,
	[Фамилия] [nvarchar](150) NULL,
	[Имя] [nvarchar](150) NULL,
	[Отчество] [nvarchar](150) NULL,
	[Код для получения] [int] NULL,
	[Статус заказа] [nvarchar](150) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[ЗаказID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 12.05.2026 14:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ПользовательID] [int] NOT NULL,
	[Роль сотрудника] [nvarchar](150) NULL,
	[Фамилия] [nvarchar](150) NULL,
	[Имя] [nvarchar](150) NULL,
	[Отчество] [nvarchar](150) NULL,
	[Логин] [nvarchar](150) NULL,
	[Пароль] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПунктыВыдачи]    Script Date: 12.05.2026 14:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПунктыВыдачи](
	[PvZID] [int] NOT NULL,
	[Индекс] [nvarchar](150) NULL,
	[Город] [nvarchar](150) NULL,
	[Улица] [nvarchar](150) NULL,
	[Дом] [int] NULL,
 CONSTRAINT [PK_ПунктыВыдачи] PRIMARY KEY CLUSTERED 
(
	[PvZID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 12.05.2026 14:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[ТоварID] [int] NOT NULL,
	[Артикул] [nvarchar](150) NULL,
	[Наименование товара] [nvarchar](150) NULL,
	[Единица измерения] [nvarchar](150) NULL,
	[Цена] [int] NULL,
	[Поставщик] [nvarchar](150) NULL,
	[Производитель] [nvarchar](150) NULL,
	[Категория товара] [nvarchar](150) NULL,
	[Действующая скидка] [int] NULL,
	[Кол-во на складе] [int] NULL,
	[Описание товара] [nvarchar](150) NULL,
	[Фото] [nvarchar](150) NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[ТоварID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварыВЗаказе]    Script Date: 12.05.2026 14:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварыВЗаказе](
	[ТоварВЗаказеID] [int] NOT NULL,
	[ЗаказID] [int] NOT NULL,
	[ТоварID] [int] NOT NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_ТоварыВЗаказе] PRIMARY KEY CLUSTERED 
(
	[ТоварВЗаказеID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_ПунктыВыдачи] FOREIGN KEY([PvZID])
REFERENCES [dbo].[ПунктыВыдачи] ([PvZID])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_ПунктыВыдачи]
GO
ALTER TABLE [dbo].[ТоварыВЗаказе]  WITH CHECK ADD  CONSTRAINT [FK_ТоварыВЗаказе_Заказы] FOREIGN KEY([ЗаказID])
REFERENCES [dbo].[Заказы] ([ЗаказID])
GO
ALTER TABLE [dbo].[ТоварыВЗаказе] CHECK CONSTRAINT [FK_ТоварыВЗаказе_Заказы]
GO
ALTER TABLE [dbo].[ТоварыВЗаказе]  WITH CHECK ADD  CONSTRAINT [FK_ТоварыВЗаказе_Товар] FOREIGN KEY([ТоварID])
REFERENCES [dbo].[Товар] ([ТоварID])
GO
ALTER TABLE [dbo].[ТоварыВЗаказе] CHECK CONSTRAINT [FK_ТоварыВЗаказе_Товар]
GO
USE [master]
GO
